body{
    color: white;
}
a{
    text-decoration: none;
}

a.title-header{
    color: white;
}
#navbarNav a{
    color: white;
}
h2{
    font-weight: bold;
    color: #415EFF;
    font-size: 25px;
    padding-top: 15px;
}
h3, h5, p{
    color: white;
}


.list-item-categorie{
    padding: 12px;
}
.list-categorie img{
    max-width: 50px;
    min-width: 4rem;
    display: inline-block;
    cursor: pointer;
}

.list-categorie a{
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    white-space: nowrap;
    display: block;
}

.list-categorie a:hover{
    color: white;
}

.list-categorie{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    /*auto pour le scroll. si grand pas besoin du scroll mais si taille mobile oui*/
}

.list-item-categorie::after{
content: "";
display: block;
margin: 0 auto;
height: 2px;
background: #4169E1;
transition: width 0.2s ease-in-out;
width: 0;
}

.list-item-categorie:hover:after{
    width: 2rem;
    }

.title-pubBar{
    font-size: 17px;
}
p{
    color: white;
}

.social-links i{
padding: 5px;
}
.social-links i:hover{
    color: blue !important;
    }

    .megaMenu  a{
        color: white;
        text-decoration: none;
        transition: 0.15s;
    }
    
    .megaMenu  a:hover{
        color:var(--color-dark-link);
    }
    
    .megaMenu  li{
        list-style: none;
    }
    .megaMenu .megaMenu-categorie{
        margin: 15px 0px;
        font-size: 20px;
    }
    
    .megaMenu .megaMenu-categorie .megaMenu-categorie-content{
        width: fit-content;
        margin: auto;
    }
    
    .megaMenu .megamenu-categorie-title{
        color:var(--color-dark-link);
        font-size: 25px;
        font-weight:bold;
        transition: 0.15s;
    }
    
    .megaMenu .megamenu-categorie-title::after{
        content: '>';
        margin-left: 5px;
        transition: 0.15s;
    }
    
    .megaMenu .megamenu-categorie-title:hover{
        color:white;
    }
    .megaMenu .megamenu-categorie-title:hover::after{
        margin-left: 10px;
    }
    
    /* sous menu*/
    .megaMenu .megaMenu-categorie ul li{
        font-weight: bolder;
    }
    /*sous sous menu*/
    .megaMenu .megaMenu-categorie ul li ul li {
        font-weight: normal;    
    }
    .megaMenu .megaMenu-categorie ul li ul{
        border-left: solid 1px gray;
        margin-bottom: 10px;
    }

    #navbarSupportedContent{
        width: 100%;
    }
    
    .menu-item-colored{
        text-decoration: none;
        display: block;
        font-size: 20px;
    }
    
    .menu-item-colored::after{
        width: 1rem;
        content: "";
        display: block;
        margin-top: 5px;
        height: 2px;
        background: #5770ff;
        transition: width 0.2s ease-in-out;
    }
    
    .menu-item-colored:hover::after{
        width: 100%;
    }

    .list-buttons{
        display: flex;
        flex-wrap: wrap;
    }

    .list-buttons div{
        margin: 5px;
    }


    .article-block .article-image{
position: absolute;
border-radius: inherit;
z-index: -1;
    }

.article-block .article-image picture{
    border-radius: inherit;
}

.article-block .article-image picture img{
    border-radius: inherit;
}

.card .img-card-container::after{
    opacity: 0.5;
    background: linear-gradient(45deg, #5770ff, #b86bff);
    width: 100%;
    left: 0;
    top: 0;
    display: block;
    position: absolute;
    content: " ";
    cursor: pointer;
    height: 100%;
    }

.article-link{
    color: white !important;
    font-weight: bold;
    font-size: 30px;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: flex-end;
}
.outer {
    position:relative;
}

.outer .overlay {	
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #5770ff, #b86bff);
    opacity: 0.5;
    top: 0;
}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    opacity: 1!important;
    width: 100%;
    color:white;
    padding:20px;
}

.article-card{
    transition: 0.15s;
    height: 100%;
}

.article-card .card-body.dark{
    background-color: #2c3049;
}

.article-card .card-body.light{
    background-color: white;
}

.shadow-light{
    box-shadow: 0.25rem 0.25rem 1.25rem rgba(87,112,255,.1);
}


.article-card:hover{
    transform: translateY(-3px);
    cursor: pointer;
}

.article-card:hover .overlay{
    background: linear-gradient(45deg, #8194ff, #bc74ff);
}



.border-frandroid{
    border-radius: var(--radius-frandroid);
}

.border-frandroid-top{
    border-top-left-radius: var(--radius-frandroid);
    border-top-right-radius: var(--radius-frandroid);
}

.border-frandroid-bottom{
    border-bottom-left-radius: var(--radius-frandroid);
    border-bottom-right-radius: var(--radius-frandroid);
}

.selection-redaction{
    display: flex;
}

.selection-redaction .selection-redaction-img{
    max-width: 250px;
    border-radius: 5px;
    z-index: 2;
    /* zindex 2 image au dessus du text qui est de zindex =1*/
    transition: 0.6s;
}

.selection-redaction .selection-redaction-text{
    max-width: 50%;
    background-color: #2c3049;
    padding-left: 100px;
    margin-left: -80px;
    margin-top: 25px;
    border-radius: 5px;
    z-index: 1;
    transition: 1s;
}

.selection-redaction:hover .selection-redaction-text{
    transform: translateY(-6px);
}
.selection-redaction:hover .selection-redaction-img{
    transform: translateY(-10px);
    cursor: pointer;
}

.selection-redaction .selection-redaction-text h6{
    color: #87e3cf;
    padding-bottom: 10px;
    padding-top: 25px;
    font-weight: bold;
    cursor: pointer;
}

.selection-redaction .selection-redaction-text p{
    font-weight: bold;
    cursor: pointer;
}



.btn-scrolltop{
    z-index: 1000;
    position: fixed;
    bottom: 15px;
    background: #546dfa  !important;
left: 50%;
display: none;
}


@media screen and (min-width: 768px){
    .navbarLine{
        width: auto;
    }
    .nav-item {
        padding: 10px;
    }
} 

@media screen and (min-width: 992px){

    .nav-item a{
        font-size: 1.5em;
    }
} 

@media screen and (max-width: 768px){
    .navbarLine{
        width: 100%;
    }
    .nav-item {
        padding: 3px;
    }
    .list-categorie{
        justify-content: flex-start;
    }


}
